﻿@model NeuroshimaHex.Web.Models.Game.GameEditViewModel
@foreach (var race in Model.Races)
{
    var base64 = "" + Convert.ToBase64String(race.Image);
    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
    <div id="@race.Id" class="hidden" data-img="@imgSrc"></div>
}

@for (var i = 0; i < Model.Teams.Count; i++)
{
    <div class="panel panel-default col-md-11" style="margin-right: 10px;">
        <div class="panel-body ">
            @Html.HiddenFor(model => Model.Teams[i].Id)
            @Html.HiddenFor(model => Model.Teams[i].TeammateCount)

            <div class="form-group">
                @Html.LabelFor(model => Model.Teams[i].TeamName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Teams[i].TeamName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Teams[i].TeamName, "", new { @class = "text-danger", onchange = "this.form.submit();" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">

                    @for (var j = 0; j < Model.Teams[i].TeammateCount; j++)
                    {
                        <div class="col-md-6" style="display: inline-block">
                            @Html.LabelFor(model => model.Teams[i].Users[j].UserName, htmlAttributes: new { @class = "control-label col-md-6", @style = "text-align: left;" })
                            @Html.DropDownListFor(m => m.Teams[i].Users[j].Id, Model.Teams[i].Users[j].UsersSelectList,
                                new {@class = "form-control required valid col-md-6 user"})
                        </div>
                        <div class="col-md-6" style="display: inline-block; vertical-align: top;">
                            @Html.LabelFor(model => model.Teams[i].Users[j].Race, htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align: left;" })
                            @Html.DropDownListFor(m => m.Teams[i].Users[j].Race.Id, Model.Teams[i].Users[j].RacesSelectList,
                                new { @class = "form-control required valid col-md-6 race" })
                            <div class="col-md-2" style="max-height: 10px"></div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
}
<script>
    var gameUsercCount = @Model.GameUsersCount;
    $(document)
        .ready(function () {

            $("select option").each(function() {
                if ($(this).val() == 0) {
                    $(this).addClass("hidden");
                } 
            });

            $("select")
                .on('change',
                    function(event) {
                        var prevValue = $(this).data('previous');
                        $('select').not(this).find('option[value="' + prevValue + '"]').show();
                        var value = $(this).val();
                        $(this).data('previous', value);
                        $('select').not(this).find('option[value="' + value + '"]').hide();
                        var base64 =$("#" + value).data( "img" );
                        if (base64 != undefined) {
                            $(this).next().html("<img class='raceIcon' src='" + base64 + "'/>");
                        }

                    });
            $("select").change();
        });
</script>