﻿@model NeuroshimaHex.Web.Models.Shared.SharedModalViewModel
<div class="modal fade" id="deletionConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deletionConfirmationModal-label" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deletionConfirmationModal-label">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the @Model.Message?</p>
                @if (!string.IsNullOrWhiteSpace(Model.AdditionalInformation))
                {
                    @Html.Raw(Model.AdditionalInformation)
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="@Model.ConfirmActionUrl" id="deletionConfirmationModalConfirmButton" class="btn btn-danger">Confirm</a>
            </div>
        </div>
    </div>
</div>


