﻿@using NeuroshimaHex.Domain.Enums
@using NeuroshimaHex.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NeuroshimaHex</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var pController = ViewContext.RouteData.Values["controller"].ToString();
        var pAction = ViewContext.RouteData.Values["action"].ToString();

        var isRace = pController == "Race" && pAction != "Statistic";
        var isUser = pController == "User";
        var isGame = pController == "Game";
        var isStatistic = pController == "Race" && pAction == "Statistic";
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/Images/NeoroshimaLogo.jpg" style="width: 50px;"/>
            @Html.ActionLink("Neuroshima Hex", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                {
                    <li @Html.Raw(isRace ? "class='active'" : string.Empty)>@Html.ActionLink(NavigationItems.Races, "Index", "Race")</li>
                    <li @Html.Raw(isUser ? "class='active'" : string.Empty)>@Html.ActionLink("Users", "GetUsers", "User")</li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li @Html.Raw(isGame ? "class='active'" : string.Empty)>@Html.ActionLink("Games", "Index", "Game")</li>
                    <li @Html.Raw(isStatistic ? "class='active'" : string.Empty)>@Html.ActionLink("Race Statistic", "Statistic", "Race")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2016 - @DateTime.Now.Year - Sibers</p>
    </footer>
</div>




@RenderSection("scripts", required: false)
</body>
</html>
