﻿@model NeuroshimaHex.Web.Models.Shared.BaseSearchViewModel
<nav>
    <ul class="pagination">
        <li class=@(Model.Page == 1 ? "disabled" : "")>
            <a href="@(Model.Page > 1 ? Url.Action("Index", new { search = Model.Search, page = Model.Page - 1 }) : "#")" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for (int i = Math.Max(1, Model.Page - 1); i <= Math.Min(Model.PageNumber, Model.Page + 1); ++i)
        {
            <li class=@(Model.Page == i ? "active" : "")>
                @Html.ActionLink(i.ToString(), "Index", new { search = Model.Search, page = i })
            </li>
        }

        @if (Model.PageNumber > Math.Min(Model.PageNumber, Model.Page + 3))
        {
            if (Model.PageNumber > Math.Min(Model.PageNumber, Model.Page + 4))
            {
                <li class="disabled">
                    <span aria-hidden="true">...</span>
                </li>
            }
            <li>
                @Html.ActionLink(Model.PageNumber.ToString(), "Index", new { search = Model.Search, page = Model.PageNumber })
            </li>
        }

        <li class=@(Model.Page < Model.PageNumber ? "" : "disabled")>
            <a href="@(Model.Page < Model.PageNumber ? Url.Action("Index", new { search = Model.Search, page = Math.Min(Model.PageNumber, Model.Page + 1) }) : "#")" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
