﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string panelTitle = ViewBag.PanelTitle;
    string header = ViewBag.Heading;
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>@header</h3>

        <div class="panel panel-section">
            <div class="panel-heading">
                <h3 class="panel-title">@panelTitle</h3>
            </div>
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
        <br />
    </div>
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}