﻿@using NeuroshimaHex.Domain.Entities
@using NeuroshimaHex.Web.Models.Game
@using NeuroshimaHex.Web.Models.Team
@model NeuroshimaHex.Web.Models.Game.GameEditViewModel

@{

}
<div class="form-horizontal fixed-inputs">
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatorId)
    @if (Model.GameTime == null || Model.GameTime >= DateTime.Now)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.GameTime, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameTime, new { htmlAttributes = new { @id = "gameTime", @class = "form-control" } })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.GameTime)
    }
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DefaultTeamName } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (Model.Teams.Count < 1)
    {
        <div class="panel panel-default col-md-7" style="margin-right: 10px; display: inline-block">
            <button type="button" id="createTeamBtn" class="btn btn-success" style="margin: 15px;"
                    data-url='@Url.Action("CreateTeam", "Team")'>
                Add Teams
            </button>
            <div class="form-group">
                <label class="control-label col-md-2" for="TeamCount">Team Count</label>
                <input id="TeamCount" class="form-control text-box single-line valid col-md-10" name="TeamCount" type="number" min="2" value="2">
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="TeammateCount">Teammate Count</label>
                <input id="TeammateCount" class="form-control text-box single-line valid c" name="TeammateCount" type="number" min="1" value="1">
            </div>
            <button type="button" id="randomRace" class="btn btn-success hidden" onclick="SetRandomRaces()" style="margin: 15px;">
                 Set Random Races
            </button>
        </div>
    }
    

    <div id="teamsContainer">
        @if (Model.Teams.Count >= 1)
        {
            @Html.Partial("~/Views/Team/_CommonTeamEdit.cshtml", Model)
        }
    </div>

    
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</div>


<script>
    $.fn.getUnicOptions = function () {
        var array = [];
        this.each(function () {
            if ($(this).val() != "0") {
                var isNeedToPush = true;
                for (var i = 0; i < array.length; i++) {
                    if (array[i].val() == $(this).val()) {
                        isNeedToPush = false;
                    }
                }
                if (isNeedToPush) {
                    array.push($(this));
                }
            }
        });
        return array;
    }

    $(function() {
        $('#gameTime').datetimepicker({ minDate: moment() });
        $('#gameTime').val("@DateTime.Now.ToString("g")");
    });

    function SetRandomRaces() {
        $(".race option:selected").removeAttr("selected");
        $(".race").trigger("change");
        var uniqOptionsArray = $(".race option").getUnicOptions();
        for (var i = 0; i < $('.race').length; i++) {
            var randomValue = Math.floor(Math.random() * uniqOptionsArray.length);
            $('.race').eq(i).val(uniqOptionsArray[randomValue].val());
            uniqOptionsArray.splice(randomValue, 1);
            $('.race').trigger('change');
        }
        $(".race").change();
    }

    $('#createTeamBtn').on('click', function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var teamCount = $("#TeamCount").val();
        var teammateCount = $("#TeammateCount").val();

        var url = $(this).data('url');
        url = url + "?teamCount=" + teamCount + "&teammateCount=" + teammateCount;
        $.get(url, function (data) {
            $('#teamsContainer').html(data);
            $("#randomRace").removeClass("hidden");
        });
    });
</script>