﻿@model NeuroshimaHex.Web.Models.Game.GameEditViewModel

@{
    ViewBag.Title = "Create Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PanelTitle = "Game";
    ViewBag.Heading = "Create Game";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>@ViewBag.Title</h3>

        <div class="row">
            <div class="panel panel-section">
                <div class="panel-heading">
                    <h2 class="panel-title">@ViewBag.PanelTitle</h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("_CommonEdit")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

