﻿@using Microsoft.AspNet.Identity
@using NeuroshimaHex.Domain.Enums
@model NeuroshimaHex.Web.Models.Game.GameListViewModel
@{
    ViewBag.Title = "Gemes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Guid.Parse(HttpContext.Current.User.Identity.GetUserId());
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h3>@ViewBag.Title</h3>

            <div>
                @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-default", style = "float: left; display: inline-block; margin-top: 8px" })
            </div>

            <form class="navbar-form navbar-left" role="search">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search" })
                <div class="form-group">
                    @Html.LabelFor(m => m.DateFrom, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(m => m.DateFrom, new { htmlAttributes = new { @id = "dateFrom", @class = "form-control" } })
                    @Html.LabelFor(m => m.DateTo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(m => m.DateTo, new { htmlAttributes = new { @id = "dateTo", @class = "form-control" } })
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="row">
            <div class="panel panel-section">
                <div class="panel-heading">
                    <h2 class="panel-title">List of Games</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" style="margin-top: 15px;">
                        <tr>
                            <th>
                                @Html.DisplayName("Game Name")
                            </th>
                            <th>
                                @Html.DisplayName("Game Date")
                            </th>
                            <th>
                                @Html.DisplayName("Actions")
                            </th>
                        </tr>

                        @foreach (var item in Model.Records)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GameTime)
                                </td>
                                <td>
                                    @if (item.CreatorId == userId || User.IsInRole(UserRoles.Admin))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                                        @Html.Raw(" / ")
                                        @Html.ActionLink("Remove", "Remove", new {id = item.Id})
                                        @Html.Raw(" / ")
                                        if (!item.IsFinished && item.GameTime <= DateTime.Now)
                                        {
                                            @Html.ActionLink("Set Game Status", "SetGameStatus", new { id = item.Id })
                                            @Html.Raw(" / ")
                                        }
                                    }
                                    @Html.ActionLink("Game Info", "GameInfo", new { id = item.Id })
                                    
                                </td>
                            </tr>
                        }
                    </table>
                    @Html.Partial("~/Views/Shared/_PaginationPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#dateFrom').datetimepicker({});
        $('#dateTo').datetimepicker({});
    });
</script>