﻿@using NeuroshimaHex.Web.Models.Shared
@model NeuroshimaHex.Web.Models.Game.GameEditViewModel

@{
    var title = "Game Info";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_PaneledStyleLayout.cshtml";
    ViewBag.PanelTitle = "Game";
    ViewBag.Heading = title;
}

<div id="raceInfoContainer">

    @foreach (var team in Model.Teams)
    {
        <div class="panel panel-default col-md-6">
            <div class="panel-body ">
                <div class="form-group">
                    <label style="font-size: 30px;">@team.TeamName</label>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>User Race</th>
                                    <th>Race Ico</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in team.Users)
                                {
                                    var userRaceId = Model.UsersInGames.Single(x => x.UserId == user.Id).RaceId;
                                    var userRace = Model.Races.Single(x => x.Id == userRaceId);
                                    var base64 = "" + Convert.ToBase64String(userRace.Image);
                                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                    <tr>
                                        <td>@user.FirstName @user.LastName)</td>
                                        <td>@userRace.Name</td>
                                        <td><img class='raceIcon' src="@imgSrc" /></td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
</div>