﻿@model NeuroshimaHex.Web.Models.Game.SetGameStatusViewModel

@{
    ViewBag.Title = "Set Game Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PanelTitle = "Game " + Model.Name;
    ViewBag.Heading = "Set Game Status";
    var teams = Model.Teams.Select(x => new SelectListItem
    {
        Value = x.Id.ToString(),
        Text = x.TeamName
    });
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>@ViewBag.Title</h3>

        <div class="row">
            <div class="panel panel-section">
                <div class="panel-heading">
                    <h2 class="panel-title">@ViewBag.PanelTitle</h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal fixed-inputs">
                            <hr />

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsFinished, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.IsFinished, new { htmlAttributes = new { @class = "form-control game" } })
                                </div>
                            </div>
                            @Html.LabelFor(m => m.WinsTeamGuid)
                            @Html.DropDownListFor(m => m.WinsTeamGuid, teams, new { @class = "form-control", id = "selParent" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>