﻿@using NeuroshimaHex.Domain.Enums
@model NeuroshimaHex.Web.Models.User.UserEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string panelTitle = ViewBag.PanelTitle;
    string header = ViewBag.Heading;
       

    bool hasBackToList = ViewBag.ReturnUrl == Url.Action("GetUsers", "User");
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>@header</h3>

        <div class="panel panel-section">
            <div class="panel-heading">
                <h3 class="panel-title">@panelTitle</h3>
            </div>
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
        @if (hasBackToList)
        {
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var isChangingPassCheckBox = $('#IsChangingPassword');
        if (isChangingPassCheckBox !== undefined) {
            var newPassSection = $('#newPassConfirm');
            isChangingPassCheckBox.on('change', function () {
                console.log(isChangingPassCheckBox.val());
                if (isChangingPassCheckBox.prop('checked') === true) {
                    newPassSection.css('display', 'block');
                } else {
                    newPassSection.css('display', 'none');
                }
            })
        }
    </script>
}


