﻿@using NeuroshimaHex.Web.Models
@model NeuroshimaHex.Web.Models.User.UserListViewModel

@{
    ViewBag.Title = NavigationItems.Users; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_DeletionConfirmationModalPartial.cshtml", new NeuroshimaHex.Web.Models.Shared.SharedModalViewModel
{
    ConfirmActionUrl = "",
    Message = "this user",
    AdditionalInformation = "<p>This will delete all the initiatives created by this user.</p>"
})

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h3>@ViewBag.Title</h3>

            <div>
                @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-default", style = "float: left; display: inline-block; margin-top: 8px" })
            </div>

            <form class="navbar-form navbar-left" role="search">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search" })
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
        <div class="row">
            <div class="panel panel-section">
                <div class="panel-heading">
                    <h2 class="panel-title">List of Users</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" style="margin-top: 15px;">
                        <tr>
                            <th>
                                @Html.DisplayName("Username")
                            </th>
                            <th>
                                @Html.DisplayName("First Name")
                            </th>
                            <th>
                                @Html.DisplayName("Last Name")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>

                        @foreach (var item in Model.Records)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    @Html.Raw("/")
                                    <a href="#" onclick="deleteUser('@Url.Action("Archive", new { id = item.Id })')">Archive</a>
                                </td>
                            </tr>
                        }
                    </table>

                    @Html.Partial("~/Views/Shared/_PaginationPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

@section scripts {
    <script>
        var deleteUser = function (url) {
            $('#deletionConfirmationModalConfirmButton').prop('href', url);
            $('#deletionConfirmationModal').modal('show');
        }
    </script>
}
