﻿@using NeuroshimaHex.Web.Models
@model NeuroshimaHex.Web.Models.Race.RaceListViewModel
@{
    ViewBag.Title = NavigationItems.Races;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h3>@ViewBag.Title</h3>

            <div>
                @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-default", style = "float: left; display: inline-block; margin-top: 8px" })
            </div>

            <form class="navbar-form navbar-left" role="search">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search" })
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="row">
            <div class="panel panel-section">
                <div class="panel-heading">
                    <h2 class="panel-title">List of Races</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" style="margin-top: 15px;">
                        <tr>
                            <th>
                                @Html.DisplayName("Race Name")
                            </th>
                            <th>
                                @Html.DisplayName("Actions")
                            </th>
                        </tr>

                        @foreach (var item in Model.Records)
                        {
                            <tr>
                                <td>
                                    @{
                                        var base64 = Convert.ToBase64String(item.Image);
                                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                    }
                                    <img src="@imgSrc" style="width: 50px; height: 50px;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                                    @Html.Raw("/")
                                    @Html.ActionLink("Remove", "Remove", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </table>
                    @Html.Partial("~/Views/Shared/_PaginationPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
