﻿@model NeuroshimaHex.Web.Models.Race.RaceInfoViewModel

@{
    ViewBag.Title = "RaceInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>@ViewBag.Title</h3>

        <div class="row">
            <div class="panel panel-section">
                <div class="panel-body">
                @foreach (var race in Model.Races)
                {
                    var base64 = "" + Convert.ToBase64String(race.Image);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);

                    <div class="panel panel-default col-md-11" style="margin-right: 10px;">
                        <div class="panel-body col-md-12">
                            <img class="col-md-1" style="margin-top: 2%;" src="@imgSrc"/>
                            <div class="col-md-11">
                                <h2 class="col-md-11">@race.Name</h2>
                                <div class="col-md-12" style="font-size: 16px;">@race.Description</div>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
        </div>
            </div>
    </div>
</div>


