﻿@using Newtonsoft.Json
@model NeuroshimaHex.Web.Models.Race.RacesStatisticViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dict = Model.Statistic.ToDictionary(stat => stat.Race.Name, stat => stat.WonCount);
}
<div class="row" style="position: relative">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            @Html.LabelFor(m => m.DateFrom, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(m => m.DateFrom, new { htmlAttributes = new { @id = "dateFrom", @class = "form-control" } })
            @Html.LabelFor(m => m.DateTo, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(m => m.DateTo, new { htmlAttributes = new { @id = "dateTo", @class = "form-control" } })
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; padding-top: 50px;"></div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/highcharts")
    <script>
        
        $(function() {
            $('#dateFrom').datetimepicker({});
            $('#dateTo').datetimepicker({});


            var model = @Html.Raw(Json.Encode(dict));

            var dateChart = [];
            for (var k in model) {
                dateChart.push([k, model[k]]);
            }
            Highcharts.chart('container',
            {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Races statistic'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Won Game'
                    }
                },
                legend: {
                    enabled: false
                },
                //tooltip: {
                //    pointFormat: 'Games won: <b>{point.y:.1f} millions</b>'
                //},
                series: [
                    {
                        name: 'Won Games',
                        data: dateChart,
                        dataLabels: {
                            enabled: true,
                            rotation: 0,
                            color: '#000000',
                            align: 'bottom',
                            //format: '{point.y:.1f}', // one decimal
                            x: -30,
                            y: 40, // 10 pixels down from the top
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }
                ]
            });
        });
    </script>

}